{{> header}}
{{> nav}}
<div class="show">

         <h3>Car Ownership Survey</h3>
<h3>Car Ownership: {{survey.carOwnership}}</h3>
<h3>Parking Expenses: {{survey.parkingBoolean}}<br>
 Average paid per month: {{survey.parkingPayment}}</h3>
<h3>Insurance Expenses: {{survey.insuranceBoolean}}<br>
    Average paid per month:
 {{survey.insurancePayment}}</h3>
<h3>Fuel Expenses: {{survey.powerBoolean}}<br>
    Average paid per month:
 {{survey.powerPayment}}</h3>
<h3>Work Travel Expenses: {{survey.workBoolean}}<br>
 {{survey.carWorkBoolean}}<br>
 Average miles per month
{{survey.workMiles}}</h3>
<h3>Vacations Travel Expenses : {{survey.vacationBoolean}}<br>
     Average vacation days per month
 {{survey.vacationFrequency}}<br>
  Average miles per vacation day
 {{survey.vacationMiles}}</h3>

<input id="surveyId" hidden value={{survey._id}} />
<div id="chart"></div>
<p><a class="button is-success" href="/survey/{{survey._id}}/edit">Edit</a></p>
      <a class="button is-link" href="/survey/new">Back</a><br>
       <p><form method="POST" action="/survey/{{survey._id}}?_method=DELETE">
          <button class="button is-danger" type="submit">Delete</button>
      </form></p>
</div>
